.ist,
.kap,
.pam,
.ant {
  top: 0;
  bottom: auto;
  width: 200px;
  text-align: right;
  top: 10%;
  left: 15%;
  border-radius: 20px;
}
.pam {
  top: 40%;
  right: 15%;
}
.ant {
  width: 400px;
  top: 30%;
  left: 5%;
}
img {
  width: 300px;
  height: 500px;
  pointer-events: none;
}
.kap h3,
.ist h3,
.pam h3 .ant h3 {
  color: rgb(46, 168, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.ist h3 {
  color: black;
}
.pam h3 {
  color: orangered;
}
.ant h3 {
  color: white;
}
.carousel-indicators button {
  border-radius: 300px;
}
